.clear {
    clear: both;
    height: 0;
    display: block;
}

.absolute {
    position: absolute;
    z-index: 0;
}

.relative {
    position: relative;
    z-index: 0;
}

.fixed {
    position: fixed;
}

.skl-cursor-pointer {
    cursor: pointer;
}

.skl-no-wrap {
    white-space: nowrap;
}

.skl-text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.skl-font-italic {
    font-style: italic;
}

.skl-font-bold {
    font-weight: bold;
}

.skl-text-uppercase {
    text-transform: uppercase;
}

.skl-text-uppercase {
    text-transform: capitalize;
}

.skl-align-left {
    text-align: left;
}

.skl-align-center {
    text-align: center;
}

.skl-align-right {
    text-align: right;
}

.skl-vertical-align-top {
    vertical-align: top;
}

.skl-vertical-align-middle {
    vertical-align: middle;
}

.skl-vertical-align-bottom {
    vertical-align: bottom;
}

.skl-overflow-hidden {
    overflow: hidden;
}

.skl-box-100 {
    width: 100%;
}

.skl-box-20,
.skl-box-20-md,
.skl-box-20-sm {
    width: 20%;
}

.skl-box-25,
.skl-box-25-md,
.skl-box-25-sm {
    width: 25%;
}

.skl-box-30,
.skl-box-30-md,
.skl-box-30-sm {
    width: 30%;
}

.skl-box-40,
.skl-box-40-md,
.skl-box-40-sm {
    width: 40%;
}

.skl-box-50,
.skl-box-50-md,
.skl-box-50-sm {
    width: 50%;
}

.skl-box-60,
.skl-box-60-md,
.skl-box-60-sm {
    width: 60%;
}

.skl-box-70,
.skl-box-70-md,
.skl-box-70-sm {
    width: 70%;
}

.skl-box-80,
.skl-box-80-md,
.skl-box-80-sm {
    width: 80%;
}

.skl-d-flex,
.skl-d-flex-md,
.skl-d-flex-sm {
    display: flex;
}

.skl-flex-align-top {
    align-items: flex-start;
}

.skl-flex-align-center {
    align-items: center;
}

.skl-d-block {
    display: block;
}

.skl-d-none,
.skl-d-none-md,
.skl-d-none-sm {
    display: none !important;
}

.skl-d-inline-block,
.skl-d-inline-block-md,
.skl-d-inline-block-sm {
    display: inline-block;
}

.skl-float-left,
.skl-float-left-md,
.skl-float-left-sm {
    float: left;
}

.skl-float-right,
.skl-float-right-md,
.skl-float-right-sm {
    float: right;
}

.skl-d-table,
.skl-d-table-md,
.skl-d-table-sm {
    display: table;
}

.skl-d-table-cell,
.skl-d-table-cell-md,
.skl-d-table-cell-sm {
    display: table-cell;
}

.skl-d-table-row,
.skl-d-table-row-md,
.skl-d-table-row-sm {
    display: table-row;
}

@media only screen and (max-width: 1023px) {
    .d-md {
        display: none !important;
    }
    .skl-d-none-md,
    .skl-d-flex-md,
    .skl-d-block-md,
    .skl-d-table-md,
    .skl-d-table-row-md,
    .skl-d-table-cell-md,
    .skl-d-inline-block-md {
        display: block;
    }
    .skl-float-left-md,
    .skl-float-right-md {
        clear: both;
        float: none;
    }
    .skl-box-20-md,
    .skl-box-30-md,
    .skl-box-40-md,
    .skl-box-50-md,
    .skl-box-60-md,
    .skl-box-70-md,
    .skl-box-80-md {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .d-sm {
        display: none !important;
    }
    .skl-d-flex-sm,
    .skl-d-none-sm,
    .skl-d-table-sm,
    .skl-d-table-row-sm,
    .skl-d-table-cell-sm,
    .skl-d-inline-block-sm {
        display: block;
    }
    .skl-float-left-sm,
    .skl-float-right-sm {
        clear: both;
        float: none;
    }
    .skl-box-20-sm,
    .skl-box-30-sm,
    .skl-box-40-sm,
    .skl-box-50-sm,
    .skl-box-60-sm,
    .skl-box-70-sm,
    .skl-box-80-sm {
        width: auto;
    }
}

.skl-p-1 {
    padding: 5px;
}

.skl-p-2 {
    padding: 10px;
}

.skl-p-3 {
    padding: 15px;
}

.skl-p-4 {
    padding: 20px;
}

.skl-pt-1 {
    padding-top: 5px;
}

.skl-pt-2 {
    padding-top: 10px;
}

.skl-pt-3 {
    padding-top: 15px;
}

.skl-pt-4 {
    padding-top: 20px;
}

.skl-pr-1 {
    padding-right: 5px;
}

.skl-pr-2 {
    padding-right: 10px;
}

.skl-pr-3 {
    padding-right: 15px;
}

.skl-pr-4 {
    padding-right: 20px;
}

.skl-pb-1 {
    padding-bottom: 5px;
}

.skl-pb-2 {
    padding-bottom: 10px;
}

.skl-pb-3 {
    padding-bottom: 15px;
}

.skl-pb-4 {
    padding-bottom: 20px;
}

.skl-pl-1 {
    padding-left: 5px;
}

.skl-pl-2 {
    padding-left: 10px;
}

.skl-pl-3 {
    padding-left: 15px;
}

.skl-pl-4 {
    padding-left: 20px;
}

.skl-m-auto {
    margin: auto;
}

.skl-m-1 {
    margin: 5px;
}

.skl-m-2 {
    margin: 10px;
}

.skl-m-3 {
    margin: 15px;
}

.skl-m-4 {
    margin: 20px;
}

.skl-mt-1 {
    margin-top: 5px;
}

.skl-mt-2 {
    margin-top: 10px;
}

.skl-mt-3 {
    margin-top: 15px;
}

.skl-mt-4 {
    margin-top: 20px;
}

.skl-mr-1 {
    margin-right: 5px;
}

.skl-mr-2 {
    margin-right: 10px;
}

.skl-mr-3 {
    margin-right: 15px;
}

.skl-mr-4 {
    margin-right: 20px;
}

.skl-mb-1 {
    margin-bottom: 5px;
}

.skl-mb-2 {
    margin-bottom: 10px;
}

.skl-mb-3 {
    margin-bottom: 15px;
}

.skl-mb-4 {
    margin-bottom: 20px;
}

.skl-ml-1 {
    margin-left: 5px;
}

.skl-ml-2 {
    margin-left: 10px;
}

.skl-ml-3 {
    margin-left: 15px;
}

.skl-ml-4 {
    margin-left: 20px;
}

.skl-rounded {
    border-radius: 3px;
}

.skl-rounded-0 {
    border-radius: 0px !important;
}

.skl-box-shadow {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.skl-border-1 {
    border-width: 1px;
    border-style: solid;
}

.skl-border-top-1 {
    border-top-width: 1px;
    border-top-style: solid;
}

.skl-border-right-1 {
    border-right-width: 1px;
    border-right-style: solid;
}

.skl-border-bottom-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.skl-border-left-1 {
    border-left-width: 1px;
    border-bottom-style: solid;
}

.skl-h-scroll {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
}

.skl-v-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.skl-no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}