a {
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

.absolute {
    position: absolute;
    z-index: 0;
}

.relative {
    position: relative;
    z-index: 0;
}

.fixed {
    position: fixed;
}

.cursor-pointer {
    cursor: pointer;
}

.no-wrap {
    white-space: nowrap;
}

.text-limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}

.overflow-hidden {
    overflow: hidden;
}

.w-100 {
    width: 100%;
}

.box-20,
.box-20-md,
.box-20-sm {
    width: 20%;
}

.box-25,
.box-25-md,
.box-25-sm {
    width: 25%;
}

.box-30,
.box-30-md,
.box-30-sm {
    width: 30%;
}

.box-40,
.box-40-md,
.box-40-sm {
    width: 40%;
}

.box-50,
.box-50-md,
.box-50-sm {
    width: 50%;
}

.box-60,
.box-60-md,
.box-60-sm {
    width: 60%;
}

.box-70,
.box-70-md,
.box-70-sm {
    width: 70%;
}

.box-80,
.box-80-md,
.box-80-sm {
    width: 80%;
}

.d-flex,
.d-flex-md,
.d-flex-sm {
    display: flex;
}

.flex-align-top {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.clear {
    clear: both;
    height: 0;
    display: block;
}

.d-block {
    display: block;
}

.d-none,
.d-none-md,
.d-none-sm {
    display: none !important;
}

.d-inline-block,
.d-inline-block-md,
.d-inline-block-sm {
    display: inline-block;
}

.float-left,
.float-left-md,
.float-left-sm {
    float: left;
}

.float-right,
.float-right-md,
.float-right-sm {
    float: right;
}

.d-table,
.d-table-md,
.d-table-sm {
    display: table;
}

.d-table-cell,
.d-table-cell-md,
.d-table-cell-sm {
    display: table-cell;
}

.d-table-row,
.d-table-row-md,
.d-table-row-sm {
    display: table-row;
}

@media only screen and (max-width: 1023px) {
    .d-md {
        display: none !important;
    }
    .d-none-md,
    .d-flex-md,
    .d-block-md,
    .d-table-md,
    .d-table-row-md,
    .d-table-cell-md,
    .d-inline-block-md {
        display: block;
    }
    .float-left-md,
    .float-right-md {
        clear: both;
        float: none;
    }
    .box-20-md,
    .box-30-md,
    .box-40-md,
    .box-50-md,
    .box-60-md,
    .box-70-md,
    .box-80-md {
        width: auto;
    }
}

@media only screen and (max-width: 767px) {
    .d-sm {
        display: none !important;
    }
    .d-flex-sm,
    .d-none-sm,
    .d-table-sm,
    .d-table-row-sm,
    .d-table-cell-sm,
    .d-inline-block-sm {
        display: block;
    }
    .float-left-sm,
    .float-right-sm {
        clear: both;
        float: none;
    }
    .box-20-sm,
    .box-30-sm,
    .box-40-sm,
    .box-50-sm,
    .box-60-sm,
    .box-70-sm,
    .box-80-sm {
        width: auto;
    }
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 10px;
}

.p-3 {
    padding: 15px;
}

.p-4 {
    padding: 20px;
}

.pt-1 {
    padding-top: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pt-4 {
    padding-top: 20px;
}

.pr-1 {
    padding-right: 5px;
}

.pr-2 {
    padding-right: 10px;
}

.pr-3 {
    padding-right: 15px;
}

.pr-4 {
    padding-right: 20px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pb-4 {
    padding-bottom: 20px;
}

.pl-1 {
    padding-left: 5px;
}

.pl-2 {
    padding-left: 10px;
}

.pl-3 {
    padding-left: 15px;
}

.pl-4 {
    padding-left: 20px;
}

.m-auto {
    margin: auto;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mt-4 {
    margin-top: 20px;
}

.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 15px;
}

.mr-4 {
    margin-right: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}

.mb-4 {
    margin-bottom: 20px;
}

.ml-1 {
    margin-left: 5px;
}

.ml-2 {
    margin-left: 10px;
}

.ml-3 {
    margin-left: 15px;
}

.ml-4 {
    margin-left: 20px;
}

.rounded {
    border-radius: 3px;
}

.rounded-0 {
    border-radius: 0px !important;
}

.box-shadow {
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.border-1 {
    border-width: 1px;
    border-style: solid;
}

.border-top-1 {
    border-top-width: 1px;
    border-top-style: solid;
}

.border-bottom-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.h-scroll {
    white-space: nowrap;
    max-width: 100%;
    overflow-x: auto;
}

.v-scroll {
    overflow-x: hidden;
    overflow-y: auto;
}

.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}